/*
  Author : Rick Dillon
*/

//noinspection CssUnknownTarget
@import "compass";

$text-color : #ff0;

body{
  color: $text-color;
  font-size: 1.1em;
  font-family: 'Exo 2', sans-serif;
}
body {
@include background-image(radial-gradient(ellipse at center,  rgba(40,96,193,1) 0%,rgba(23,76,119,1) 80%));
}

sup {
  font-size: .5em;
  vertical-align: middle;
}

#appContainer {
  width : 360px; /*default width*/
  height: 100%; /*default height*/
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

nav {
  width: 100%;
  height: 52px;
  @include background-image(linear-gradient(to bottom,  rgba(163,166,168,0.91) 0%,rgba(15,15,15,0.82) 35%,rgba(15,15,15,0.82) 36%,rgba(15,15,15,0.85) 100%));

  & .current, & .forecast {
    position: relative;
    top : 20px;
    width: 50%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
}

nav a {
  text-decoration: none;
  color: #fff;
}

#navTracker {
  width: 100px;
  height: 7px;
  background-color: rgba(53,137,255,.6);
  position: absolute;
  left : 0;
  top: 44px;
  margin: 0 40px;
  @include transition(all 0.5s ease-in-out);
}
ul#panelsContainer {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  width : 1080px;
  height: 426px;
  @include transition(all 0.5s ease-in-out);

  & li {
    float: left;
    display: block;
    background-color: rgba(51, 51, 51, .1);
  }
}

.panel {
  width: 350px;
  height : 508px;
  border: 1px solid rgba(51, 51, 51, .5);
  padding: 2px 4px;
}

#current h2, #current p {
  text-align: center;
}
#current p {
  font-size: 1em;
}
#current .highlight {
  width: 350px;
  height: 102px;
}
#current .highlight .temp{
  float: left;
  height: 100%;
  font-size: 5em;
  position: relative;
  left : 62px;
}
#current .highlight .temp sup {
  font-size: .25em;
  vertical-align: super;
}
#current .highlight .icon {
  float: right;
  height: 100%;
  position: relative;
  left: -76px;
  top: 18px;
}

#current .details {
  clear: both;
  margin-left: 20%;
}
#current .details table {
  border-collapse: collapse;
}
#current .details table th {
  width:160px;
  text-align: left;
  padding-top: .5em;
  padding-bottom: .5em;
}

#forecast {
 & h3{
   margin: 0;
   text-align: right;
 }
  & p {
    font-size: .8em;
    margin: 0;
    text-align: right;
  }
}

#forecast table {
  width: 100%;

  & td{
    padding: 10px 12px;
    height: 50px;

    &{
      padding: 10px 12px;
      height: 50px;
    & p.shortDate{
      font-size: .6em;
    }
    &.icon img{
      width: 55%;
      @include transition(all 0.5s ease-in-out .2s);
    }
    }
  }
}
